# Firebase Client Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studysync-al-2026.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studysync-al-2026
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=studysync-al-2026.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=99176264496
NEXT_PUBLIC_FIREBASE_APP_ID=1:99176264496:web:1a6a69567c0f7619a98ef5
